<div class="container p-4">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <div class="panel-heading text-center">
                        <h3>
                            <div class="panel-title">Compras Realizadas</div>
                        </h3>
                    </div>
                </div>
                <div class="card-body">
                    {{#if detail}}
                    <p class="text-danger"><b>Ultima Compra Realizada </b><a href="/detail/pdf/{{lastSell.VENTA_ID}}"
                            class="btn btn-outline-primary">Descargar</a></p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Detalle</th>
                                <th scope="col">Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each detail}}
                            <tr>
                                <td>{{@index}}) Pre-Factura del: {{VENTA_FECHA}} </td>
                                <td>
                                    <a href="/detail/pdf/{{VENTA_ID}}" class="btn btn-outline-success">Descargar</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <h3>Usted no tiene compras realizadas</h3>
                    <a href="/products" class="btn btn-primary m-4">
                        Regresar
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>